body{
	font-family: Inconsolata, 'Arial Narrow Bold', sans-serif;
}

/* Reflow Styling */
header[role="banner"]       { grid-area: header; }
main[role="main"]           { grid-area: main; }
aside[role="complementary"] { grid-area: aside; }
footer[role="contentinfo"]  { grid-area: footer; }

.grid,
.subgrid{
	display: grid;
	grid-template-columns: minmax(0, 1fr);
}

.grid{
	grid-template-areas: 
	'header'
	'main'
	'aside';
	width: 100%;
}

.subgrid{
	width: calc(100% + 2rem);
	margin: 0 -1rem;
}

.grid-item,
.subgrid-item{
	padding: 1rem;
}

@media all and (min-width: 576px){
	.subgrid{
		grid-template-columns: minmax(0, 1fr) minmax(0,1fr);
		margin-bottom: 1rem;
	}
	.subgrid-item{
		padding-bottom: 0.25rem;
	}
}

@media all and (min-width: 992px){
	.grid{
		/* grid-template-areas: 
			'header header header'
			'main main aside'
			'footer footer footer';
		;
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr); */
		max-width: 720px;
		margin: auto;
	}
}

header[role="banner"] {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	display: inline;
	padding: 0 0.25rem;
}

header nav select{
	display: none;
}

.bio-box{
	background-color: #f5f5f5;
	padding: 1rem 0.5rem;
	border-radius: 5px;
}

/* Larger than tablet */
@media (min-width: 750px) {	
	header nav select{
		display: none;
	}
}


a, a:hover{
	color: #263238;
}

h1.blog-title{
	margin: 0 0 0.2em 0;
}

h1.blog-title a{
	color: #1EAEDB;
	text-decoration: none;
}

h2.blog-subtitle{
	color: #fff;
	margin: 0em 0 0.5em 0;
	font-size: 1.9rem;
}


a{
	text-decoration: underline;
}

.footer .contact a{
	text-decoration: none;
}

ul{
	list-style: none;
	padding-inline-start: 0 !important;
}

.post ul{
	list-style: disc;
	font-size: 1.6rem;
	margin: 1.5rem 0 1.5rem 0rem;
	padding-inline-start: 0 !important;
}

.post a{
	text-decoration: underline;
}

p{
	line-height: 1.25;
}

.post-container{
	margin-top: 1em;
}

.firstpost h3 a{
	text-decoration: none;
}

.post-date{
	margin: 1em 0 0 0;
}


blockquote{
	font-style: italic;
}

nav.blog-navigation{
	padding: 2em 0;
}

nav.blog-navigation ul{
	display: none;
}

nav.blog-navigation select{
	width: 100%;
	text-align: left;
	margin: 0;
}

.notes{
	font-weight: bold;
	margin: 0;
}

blockquote {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0px 10px 0 10px;
  margin: 5px 0 0 20px;
  border-left: 5px solid #999;
}



img + em{
	font-size: 0.9em;
	color: #78909C;
}

ol{
    font-size: 1em !important;
}
