<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/skeleton/base.css">
        <link rel="stylesheet" href="/css/skeleton/skeleton.css">
        <link rel="stylesheet" href="/css/skeleton/layout.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    </head>
    <body>
    <div class="container">
      <!-- <div class="four columns">
        <div class="site" style="text-align:left; padding:0; line-height:1.4em;">
          <a href="/" style="text-decoration:none;" class="home-link"><i class="icon-home icon-2x" style="float:right;"></i></a>
        <div class="header">
          <h1 class="title"><a href="/">J.D. Zárate</a></h1>
          <br>
          <a href="http://twitter.com/jdzaratem/" target="_blank"><i class="icon-twitter icon-2x"></i></a>
          <a href="http://github.com/jdzarate/" target="_blank"><i class="icon-github-sign icon-2x"></i></a>
          <a href="http://jdzarate.tumblr.com/" target="_blank" style="margin-left:0.3em;"><i class="icon-tumblr-sign icon-2x"></i></a>
          <a href="https://www.google.com/+JoseDanielZarateM" target="_blank" style="margin-left:0.3em;"><i class="icon-google-plus-sign icon-2x"></i></a>
          <div class="about">
            
          <p style="font-size:90%; font-family:'Droid Sans', sans-serif;">
            Trabajo como desarrollador de software y soy co-fundador de <a href="http://www.crupzi.com" target="_blank" style="font-weight: 700;">Crupzi.com</a>.
          </p>
          </div>
        </div>
        </div>
      </div> -->
      <div class="offset-by-two eleven columns">
          <a href="/" style="text-decoration:none;" class="home-link"><i class="icon-home icon-2x" style="float:right;"></i></a>
      </div>
      <div class="offset-by-two eleven columns">
        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">J.D. Zárate</a></h1>
          </div>
          {{ content }}
          <div class="footer">
              <div class="contact">
                <p>
                  J.D. Zárate
                </p>
                <a href="http://twitter.com/jdzaratem/" target="_blank"><i class="icon-twitter icon-2x"></i></a>
                  <a href="http://github.com/jdzarate/" target="_blank"><i class="icon-github-sign icon-2x"></i></a>
                  <a href="http://jdzarate.tumblr.com/" target="_blank" style="margin-left:0.3em;"><i class="icon-tumblr-sign icon-2x"></i></a>
                  <a href="https://www.google.com/+JoseDanielZarateM" target="_blank" style="margin-left:0.3em;"><i class="icon-google-plus-sign icon-2x"></i></a>
              </div>
              <div class="contact">
              </div>
            </div>
          </div>
      </div>
    </div><!-- container -->
    </body>
</html>
