<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <!-- <link rel="stylesheet" href="/css/syntax.css"> -->

        <!-- Custom CSS -->
        <!-- <link rel="stylesheet" href="/css/main.css"> -->
        
        <!-- https://www.w3.org/WAI/WCAG21/Techniques/css/C32 -->
        <link rel="stylesheet" href="/css/custom.css">
        <link href='//fonts.googleapis.com/css?family=Inconsolata:400,300,600' rel='stylesheet' type='text/css'>
        <link href='https://www.jdzarate.com/feed.xml' rel='alternate' type='application/rss+xml'>
    </head>
    <body class="grid">
      <header role="banner" class="grid-item">
        <span><a href="/">jdzarate.com</a></span>
        <nav>
          <ul>
            <li><a href="/archive">Archivo</a></li>
            <li><a href="https://www.jdzarate.com/feed.xml">RSS</a></li>
          </ul>

          <select>
            <option value="">Navegaci&oacute;n</option>
            <option value="/archive">Archivo</option>
            <option value="/about">Acerca de</option>
            <option value="/projects">Proyectos</option>
          </select>
        </nav>
      </header>
      <main role="main" class="grid-item">
        {{ content }}
      </main>
      <aside role="complementary" class="grid-item">
        <div class="bio-box">
          <span>
            J.D. Zárate, Full Stack Developer.
          </span>
        </div>
      </aside>
    </body>
    <!-- <script type="text/javascript">
      $("nav.blog-navigation select").change(function() {
        window.location = $(this).find("option:selected").val();
      });
    </script> -->
</html>
